.wrapper
	display: flex
	align-items: center
	justify-content: center
	flex-grow: 1
	background: linear-gradient(rgba(#000, .25), rgba(#000, .75))

.items
	padding: 16px
	position: relative
	width: 300px
	height: 200px
	background: #fff
	border-radius: 8px
	box-shadow: 2px 3px 5px rgba(0, 0, 0, .25)

.item
	position: absolute
	top: 16px
	font-size: 2.4em
	width: 48px
	height: 48px
	display: flex
	align-items: center
	justify-content: center
	background: #f2f3f7
	border-radius: 4px
