$lightFieldColor: gold
$darkFieldColor: gold
$ringWidth: 14px
$selectRingWidth: 4px

.checkers-arena
	display: flex
	flex-grow: 1

.checkers-wrapper
	display: flex
	flex-grow: 1
	overflow: auto
	background: #000

	.checkers-board
		margin: auto auto
		position: relative
		background: #000
		border: 20px solid #000
		box-shadow: 0 0 0 4px gold
		flex-shrink: 0
		transform: rotate(90deg)

	.checkers-field
		position: absolute
		transform: rotate(-90deg)
	.checkers-field-dark
		background: $darkFieldColor
		transform: scale(.65)
	.checkers-field-light
		background: $lightFieldColor
		z-index: 10
	.checkers-field-highlight
		background: green
		cursor: pointer
		&:after
			content: ''
			pointer-events: none
			box-shadow: 0 0 0 4px transparent inset
			transition: box-shadow .2s
		&:hover:after
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			box-shadow: 0 0 0 4px #000 inset

	.checkers-field-power
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

	.checkers-piece
		position: absolute
		z-index: 100
		transition: top .3s, left .3s

	.checkers-piece-inner
		position: relative
		top: 8%
		left: 8%
		width: 84%
		height: 84%
		border-radius: 100%

	.checkers-piece-selectable .checkers-piece-inner
		cursor: pointer
		&:after
			content: ''
			position: absolute
			top: -#{ $ringWidth - $selectRingWidth }
			left: -#{ $ringWidth - $selectRingWidth }
			border: $selectRingWidth solid gold
			border-radius: 100%
			width: calc(100% + #{ $ringWidth - $selectRingWidth / 2 })
			height: calc(100% + #{ $ringWidth - $selectRingWidth / 2 })

	.checkers-piece-selected .checkers-piece-inner
		cursor: default
		box-shadow: 0 0 80px 3px gold

	.checkers-piece-dark
		border: $ringWidth solid #000
	.checkers-piece-light
		border: $ringWidth solid #fff
		&.checkers-piece-selectable:after
			border: 2px solid darken(gold, 24)

	.checkers-piece-power
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		opacity: 1
		border-radius: 100%
		transform: rotate(-90deg)

	.checkers-piece-removing
		z-index: 90
		.checkers-piece-inner
			transition: transform .4s, background .4s

	.checkers-piece-remove .checkers-piece-inner
		transform: scale(0)
		background: #555

	.checkers-piece-attack .checkers-piece-inner
		animation: pieceAttacking .3s linear 1

	.checkers--player_DARK
		.checkers-piece-dark

	.checkers--player_LIGHT
		.checkers-piece-light

@keyframes pieceAttacking
	0%
		transform: scale(1)
	50%
		transform: scale(1.5)
	100%
		transform: scale(1)

.checkers-end
	position: absolute
	z-index: 100
	top: 50%
	left: 50%
	width: 100%
	background: rgba(#000, .5)
	padding: 32px
	font-size: 4em
	color: #fff
	transform: translateX(-50%) translateY(-50%)
	text-align: center
	font-weight: bold
	text-shadow: 1px 1px 2px rgba(#000, .5)

.checkers-menu
	position: absolute
	top: 70px
	left: 50%
	transform: translateX(-50%)

	.checkers-button
		padding: 8px 16px
		border-radius: 4px
		background: #fff
		font-size: 1.6em
		cursor: pointer

.checkers-players
	display: flex
	background: #333

.checkers-player-panel
	width: 240px
	padding: 16px
	font-weight: bold
	font-size: 1.4em
	text-align: center
	background: #3f2412
	color: gold

	&.checkers-player-panel-white
	&.checkers-player-panel-black

	.checkers-player-powers
		display: flex
		gap: 8px
		margin-top: 16px

	.checkers-player-power
		width: 40px
		height: 40px
		border-radius: 100%
		cursor: pointer

	.checkers-player-power-bg
		width: 100%
		height: 100%
		border-radius: 100%
		opacity: .5

	.checkers-player-power-fill
		width: 100%
		border-radius: 100%
		opacity: .5
