$lightFieldColor: gold
$darkFieldColor: gold

.checkers-wrapper
	display: flex
	flex-grow: 1
	flex-direction: column
	overflow: auto

	.checkers-board
		margin: auto auto
		position: relative
		background: #fff
		border: 20px solid #4f2412
		box-shadow: 0 0 0 4px gold
		flex-shrink: 0
		// transform: rotate(90deg)

	.checkers-field
		position: absolute
		box-shadow: 0 0 0 1px rgba(#fff, .25)
	.checkers-field-dark
		background: $darkFieldColor
	.checkers-field-light
		background: $lightFieldColor
	.checkers-field-highlight
		background: green
		cursor: pointer
		&:after
			content: ''
			pointer-events: none
			box-shadow: 0 0 0 4px transparent inset
			transition: box-shadow .2s
		&:hover:after
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			box-shadow: 0 0 0 4px #000 inset

	.checkers-field-power
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

	.checkers-piece
		position: absolute
		z-index: 100
		opacity: .75
		transition: top .3s, left .3s

	.checkers-piece-inner
		position: relative
		top: 6%
		left: 6%
		width: 88%
		height: 88%
		border-radius: 100%

	.checkers-piece-selectable
		opacity: 1

		.checkers-piece-inner
			cursor: pointer
			box-shadow: 0 0 5px gold

	.checkers-piece-selected .checkers-piece-inner
		cursor: default
		box-shadow: 0 0 40px 3px gold

	.checkers-piece-dark
		border: 16px solid #000
	.checkers-piece-light
		border: 16px solid #fff

	.checkers-piece-power
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		opacity: .75
		border-radius: 100%

	.checkers-piece-removing
		z-index: 90
		.checkers-piece-inner
			transition: transform .4s, background .4s

	.checkers-piece-remove .checkers-piece-inner
		transform: scale(0)
		background: #555

	.checkers-piece-attack .checkers-piece-inner
		animation: pieceAttacking .3s linear 1

	.checkers--player_DARK
		.checkers-piece-dark

	.checkers--player_LIGHT
		.checkers-piece-light

@keyframes pieceAttacking
	0%
		transform: scale(1)
	50%
		transform: scale(1.5)
	100%
		transform: scale(1)

.checkers-end
	position: absolute
	z-index: 100
	top: 50%
	left: 50%
	width: 100%
	background: rgba(#000, .5)
	padding: 32px
	font-size: 4em
	color: #fff
	transform: translateX(-50%) translateY(-50%)
	text-align: center
	font-weight: bold
	text-shadow: 1px 1px 2px rgba(#000, .5)

.checkers-menu
	position: absolute
	top: 70px
	left: 10px

	.checkers-button
		padding: 8px 16px
		border-radius: 4px
		background: #fff
		font-size: 1.6em
		cursor: pointer

.checkers-players
	display: flex
	background: #333

.checkers-player-panel
	width: 50%
	padding: 16px
	font-weight: bold
	font-size: 1.4em
	text-align: center

	&.checkers-player-panel-white
		background: #fff
		color: #000
	&.checkers-player-panel-black
		background: #000
		color: #fff

	.checkers-player-powers
		display: flex
		gap: 8px
		margin-top: 16px

	.checkers-player-power
		width: 40px
		height: 40px
		border-radius: 100%
		cursor: pointer

	.checkers-player-power-bg
		width: 100%
		height: 100%
		border-radius: 100%
		opacity: .5

	.checkers-player-power-fill
		width: 100%
		border-radius: 100%
		opacity: .5
