$lightFieldColor: gold
$darkFieldColor: gold
$ringWidth: 14px
$selectRingOffset: 2px
$selectRingWidth: 6px
$piecePowerSize: 20px

.checkers-arena
	display: flex
	flex-direction: column
	flex-grow: 1
	min-height: 0
	height: 100vh

.checkers-wrapper
	display: flex
	flex-grow: 1
	overflow: auto
	background: #000
	padding: 20px

	.checkers-board
		margin: auto
		position: relative
		background: #000
		border: 20px solid #000
		flex-shrink: 0
		transform: rotate(90deg)

		&:after
			content: ''
			position: absolute
			top: -20px
			left: -20px
			width: calc(100% + 40px)
			height: calc(100% + 40px)
			pointer-events: none
			box-shadow: 0 0 0 4px gold inset

	.checkers-field
		position: absolute
		transform: rotate(-90deg)
	.checkers-field-dark
		background: #222
		transform: scale(.35)
		border-radius: 4px
	.checkers-field-light
		background: $lightFieldColor
		z-index: 10
	.checkers-field-highlight
		cursor: pointer
		&:after
			content: ''
			position: absolute
			pointer-events: none
			top: 2px
			left: 2px
			width: calc(100% - 4px)
			height: calc(100% - 4px)
			box-shadow: 0 0 0 6px #000 inset
		&:hover:after
			box-shadow: 0 0 0 6px gold inset

	.checkers-field-targetable-wind
		cursor: pointer
		&:after
			content: ''
			position: absolute
			pointer-events: none
			top: 2px
			left: 2px
			width: calc(100% - 4px)
			height: calc(100% - 4px)
			box-shadow: 0 0 0 6px #a55eea inset
		&:hover:after
			box-shadow: 0 0 0 6px gold inset

	.checkers-field-power
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

	.checkers-piece
		position: absolute
		z-index: 100
		transform: rotate(-90deg)
		transition: top .3s, left .3s

	.checkers-piece-inner
		position: relative
		top: 10%
		left: 10%
		width: 80%
		height: 80%
		border-radius: 100%

	.checkers-piece-selectable .checkers-piece-inner
		cursor: pointer
		&:after
			content: ''
			position: absolute
			top: $selectRingOffset
			left: $selectRingOffset
			border: $selectRingWidth solid gold
			border-radius: 100%
			width: calc(100% - #{ $selectRingOffset * 2 + $selectRingWidth * 2})
			height: calc(100% - #{ $selectRingOffset * 2 + $selectRingWidth * 2 })

	.checkers-piece-queen

		.checkers-piece-inner
			border-radius: 4px
			&:after
				border-radius: 4px
		.checkers-piece-power
			border-radius: 2px

	.checkers-piece-dark

		.checkers-piece-inner
			background: #000
	.checkers-piece-light

		.checkers-piece-inner
			background: #fff

	.checkers-piece-power
		position: absolute
		top: 27%
		left: 27%
		width: 46%
		height: 46%
		opacity: 1
		border-radius: 100%

	.checkers-piece-selected

		.checkers-piece-inner
			cursor: default
			box-shadow: 0 0 80px 3px gold
			background: gold

		&.checkers-piece-light .checkers-piece-inner:after
			border: $selectRingWidth solid #fff

		&.checkers-piece-dark .checkers-piece-inner:after
			border: $selectRingWidth solid #000

	.checkers-piece-removing
		z-index: 90
		.checkers-piece-inner
			transition: transform .4s, background .4s

	.checkers-piece-remove .checkers-piece-inner
		transform: scale(0)
		background: #555

	.checkers-piece-attack .checkers-piece-inner
		animation: pieceAttacking .3s linear 1

	.checkers-piece-highlight-power

		.checkers-piece-inner
			background: gold

		.checkers-piece-power
			transform: scale(1.6)


@keyframes pieceAttacking
	0%
		transform: scale(1)
	50%
		transform: scale(1.5)
	100%
		transform: scale(1)

.checkers-end
	position: absolute
	z-index: 100
	top: 50%
	left: 50%
	width: 100%
	background: rgba(#000, .75)
	padding: 32px
	transform: translateX(-50%) translateY(-50%)

	.checkers-end-text
		font-size: 4em
		color: #fff
		text-align: center
		font-weight: bold
		text-shadow: 1px 1px 2px rgba(#000, .5)

	.checkers-end-again
		font-size: 2.4em
		background: gold
		color: #000
		width: 200px
		margin: 0 auto
		text-align: center
		padding: 8px 16px
		margin-top: 32px
		border-radius: 4px
		cursor: pointer
		font-weight: bold
		text-transform: uppercase

		&:hover
			background: black
			color: #fff

.checkers-menu
	position: absolute
	top: 14px
	right: 14px
	color: #fff

	.checkers-menu-cog
		font-size: 2em
		font-weight: bold
		cursor: pointer

	.checkers-menu-panel
		position: absolute
		z-index: 100
		top: calc(100% + 8px)
		right: -8px
		background: black
		border: 1px solid gold
		padding: 8px
		border-radius: 4px
		cursor: pointer
		width: 200px

	.checkers-menu-button
		font-size: 1.6em
		font-weight: bold
		text-transform: uppercase
		background: #fff
		color: #000
		padding: 6px 16px
		border-radius: 4px
		text-align: center
		margin-top: 4px

		&:first-child
			margin-top: 0

.checkers-players
	display: flex
	background: #333

.checkers-player-panel
	width: 180px
	padding: 16px
	font-weight: bold
	font-size: 2em
	text-align: center
	background: #3f2412
	color: gold

	&.checkers-player-panel-white

	&.checkers-player-panel-black

		.checkers-player-powers
			align-items: flex-end

	.checkers-player-powers
		display: flex
		flex-direction: column
		gap: 8px
		margin-top: 32px

	.checkers-player-power
		width: 40px
		height: 40px
		border-radius: 100%
		cursor: pointer

	.checkers-player-power-bg
		width: 100%
		height: 100%
		border-radius: 100%
		opacity: .5

	.checkers-player-power-fill
		width: 100%
		border-radius: 100%
		opacity: .5


.checkers-display
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	width: 100%
	height: 100px
	flex-shrink: 0
	padding: 16px
	background: #000
	color: #fff
	font-weight: bold
	text-align: center

	.checkers-display-player
		font-size: 2.4em

	.checkers-display-info
		font-size: 1.8em

	&.checkers-display-show-info

		.checkers-display-info
			margin-top: 8px


.checkers-text-bubble
	position: absolute
	z-index: 100
	bottom: calc(100% + 8px)
	left: 50%
	background: #fff
	padding: 8px 16px
	word-break: break-word
	width: 140px
	border: 4px solid #000
	transform: skewX(-10deg) translateX(-50%)

	.ctb-text
		font-size: 1.4em

	.ctb-arrow
		position: absolute
		top: 100%
		left: 50%
